<section>
  <div class="container mt-5">
    <div class="row align-items-stretch justify-content-between">


      {{!-- new post --}}
      <div class=" col-12 mb-3">
        <div class="card h-100 border-dark">
          <h4 class="card-header">New Post</h4>
          <div class="card-body">
            <form class="new-post-form">

              <div class="mb-3">
                <label for="post-title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="post-title" value="{{title}}">
              </div>

              <div class="mb-3">
                <label for="post-content" class="form-label">Type Post Info here:</label>
                <textarea class="form-control" id="post-content" rows="12">{{content}}</textarea>
              </div>

              <button type="submit" class="col-12 btn btn-outline-secondary mb-2 mt-2 post-create">Create Post</button>
              <button type="submit" class="col-12 btn btn-outline-secondary mb-2 mt-2 post-cancel">Cancel</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<script src="./js/createpost.js"></script>