<section>
  <div class="container">
    <div class="col-12 mb-5 col-auto">
      <h2>Dashboard</h2>
    </div>
    <a class="d-flex align-items-center justify-content-center btn btn-outline-primary mb-4" href="/create-post">
      <h3>Create a New Post:</h3>
    </a>
  </div>



  <div class="container">
    {{#each posts as |post| }}
    <a href="/dashboard/edit/{{post.id}}">
      <div class="col-12 mb-5">

        <div class="card">
          <div class="card-body"></div>
          <h4>{{post.title}}</h4>
          <h6>Posted On: {{post.created_at}}</h6>
        </div>

      </div>

    </a>
    {{/each}}
  </div>
</section>